



.header{
  background-color: beige;
  text-align: center;
}

.heading{
 text-align: left;
}

.buttons{
  background-color: #628ecb;
}

.btns2{
  text-align: center;
  align-items: center;
}



.sdchead {
color: #628ecb;
}
